*
.*
.git/

!.gitignore
!.dockerignore
!.goreleaser.yaml
!.github/
!.github/**
!Makefile
!README.md
!VERSION
!LICENSE
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!SECURITY.md
!codecov.yml
!Dockerfile
!Dockerfile.release
!go.mod
!go.sum
!configs/
!configs/**
!cmd/
!cmd/**
!internal/
!internal/**
!assets/
!assets/**
!scripts/
!scripts/**
!data/
!.keep
!**/.keep

.DS_Store
/kui
/kui.exe
/dist/
*.db
data/*.db
*.db-shm
*.db-wal
